@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@font-face {
  font-family: 'Wallop-semibold';
  src: url('/public/fonts/WallopTRIAL-SemiBold-BF6719a5ce31f32.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Wallop-medium';
  src: url('/public/fonts/WallopTRIAL-Medium-BF6719a5cdef709.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@layer utilities {
  .text-outline {
    color: white;
    -webkit-text-stroke: 1.1px black;
    text-stroke: 1.1px black; /* Compatibilité */
  }
}

